.answers div {
	margin: 0 auto;
}

body {
	background-image: url(./images/IW_background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	top: 150px;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

/*Color of button is blue when the mouse hovers over it*/
button:hover {
	background-color: blue;
	color: white;
}

/*Style of button when a correct answer is chosen*/
.btn-success {
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px; 
	font-family: 'Permanent Marker', cursive;
}
/*Style of button when an incorrect answer is chosen*/
.btn-danger {
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px;
	font-family: 'Permanent Marker', cursive;
}
/*Styling for the various buttons in the game*/
.btn-lg {
	width: 600px; 
	background-color: goldenrod;
	font-weight: bold;
	position: relative;
	right: -80px; 
	font-family: 'Permanent Marker', cursive;
}

.btn-lg:hover {
	background-color: blue;
	color: white;
}

.option.btn.btn-info:hover {
	background-color: blue;
	color: white;
}

/*Text alignment in the container*/
.container {
	text-align: center;
}

/*Styling for head tags*/
h1 {
	background: rgb(116, 1, 116);
	padding: 20px;
	border: goldenrod 2px solid;
	border-radius: 5px;
	font-family: 'Permanent Marker', cursive;
	color: goldenrod;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	color: goldenrod;
	font-weight: bold; 
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	font-size: 28px; 
}

/*Style jumbotron ie main section of the game*/
.jumbotron {
	background: rgb(116, 1, 116);
	border-radius: 5px; 
	border: goldenrod 2px solid;
}

.lead {
	font-size: 28px; 
}
/*Style game buttons*/
.option.btn.btn-info {
	background-color: goldenrod;
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px; 
	font-family: 'Permanent Marker', cursive;
	margin-bottom: 10px; 
}
/*Style p tags*/
p {
	color: goldenrod;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px; 
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
	
}

/*Style restart button at the end of the game*/
#restart.btn-lg {
	position: relative;
	right: -100px; 
	font-family: 'Permanent Marker', cursive;
}

/*Additional positioning*/
.row div {
	position: relative;
	right: -100px;  
}
