.answers div {
	margin: 0 auto;
}

body {
	background-image: url(./images/IW_background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	top: 150px;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}


.btn-success {
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px; 
	font-family: 'Permanent Marker', cursive;
}

.btn-danger {
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px;
	font-family: 'Permanent Marker', cursive;
}

.btn-lg {
	width: 600px; 
	background-color: goldenrod;
	font-weight: bold;
	position: relative;
	right: -80px; 
	font-family: 'Permanent Marker', cursive;
}

.container {
	text-align: center;
}


h1 {
	background: rgb(116, 1, 116);
	padding: 20px;
	border: goldenrod 2px solid;
	border-radius: 5px;
	font-family: 'Permanent Marker', cursive;
	color: goldenrod;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	color: goldenrod;
	font-weight: bold; 
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	font-size: 28px; 
}

img {
	height: 200px;
	width: auto;
}

.jumbotron {
	background: rgb(116, 1, 116);
	border-radius: 5px; 
	border: goldenrod 2px solid;
}

.lead {
	font-size: 28px; 
}

.option.btn.btn-info {
	background-color: goldenrod !important;
	color: black;
	width: 400px; 
	font-weight: bold; 
	font-size: 20px; 
	position: relative;
	right: -50px; 
	font-family: 'Permanent Marker', cursive;
	
}

p {
	color: goldenrod;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px; 
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
	
}


#restart.btn-lg {
	position: relative;
	right: -100px; 
	font-family: 'Permanent Marker', cursive;
}


.row div {
	position: relative;
	right: -100px;  
}